.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 81px;
  gap: 64px;
  background-color: white;
  .logIn {
    p {
      font-family: "Poppins-Regular";
      font-size: 22px;
      line-height: 33px;
    }
  }
  .signUp {
    p {
      font-family: "Poppins-SemiBold";
      font-size: 22px;
      line-height: 33px;
    }
  }
  @media screen and (max-width: 542px) {
    .logIn,
    .signUp,
    .language {
      display: none;
    }
  }
}
